@font-face {
    font-family: 'learnlinkico';
    src:
        //   url('fonts/learnlinkico.ttf?sas272') format('truetype'),
        url('../../assets/fonts/learnlinkico.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'learnlinkico' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-search:before {
    content: "\e924";
}

.icon-update:before {
    content: "\e923";
}

.icon-burger:before {
    content: "\e922";
}

.icon-lock:before {
    content: "\e921";
}

.icon-document-add:before {
    content: "\e90e";
}

.icon-arrow-down:before {
    content: "\e900";
}

.icon-arrow-left:before {
    content: "\e901";
}

.icon-arrow-left-dotted:before {
    content: "\e902";
}

.icon-arrow-right:before {
    content: "\e903";
}

.icon-arrow-right-dotted:before {
    content: "\e904";
}

.icon-arrow-up:before {
    content: "\e905";
}

.icon-beaker:before {
    content: "\e906";
}

.icon-bolt:before {
    content: "\e907";
}

.icon-book:before {
    content: "\e908";
}

.icon-chat:before {
    content: "\e909";
}

.icon-check:before {
    content: "\e90a";
}

.icon-code-add:before {
    content: "\e90b";
}

.icon-cross:before {
    content: "\e90c";
}

.icon-cross-circle:before {
    content: "\e90d";
}

.icon-ellipsis:before {
    content: "\e90f";
}

.icon-file:before {
    content: "\e910";
}

.icon-invisible:before {
    content: "\e911";
}

.icon-invisible-circle:before {
    content: "\e912";
}

.icon-minus:before {
    content: "\e913";
}

.icon-module:before {
    content: "\e914";
}

.icon-pen:before {
    content: "\e915";
}

.icon-pen-circle:before {
    content: "\e916";
}

.icon-plus:before {
    content: "\e917";
}

.icon-plus-circle:before {
    content: "\e918";
}

.icon-power:before {
    content: "\e919";
}

.icon-star:before {
    content: "\e91a";
}

.icon-text-add:before {
    content: "\e91b";
}

.icon-user:before {
    content: "\e91c";
}

.icon-user-group:before {
    content: "\e91d";
}

.icon-user-group-circle:before {
    content: "\e91e";
}

.icon-user-lock:before {
    content: "\e91f";
}

.icon-visible:before {
    content: "\e920";
}