    @import "reset.scss";
    @import "fontimports.scss";
    @import "icons.scss";

    //Font size variables

    $h1-fz: 42px;
    $h2-fz: 26px;
    $h3-fz: 20px;
    $big-fz: 32px;
    $medium-fz: 22px;
    $inputs-fz: 20px;
    $reg-fz: 16px;
    $small-fz: 12px;
    $tiny-fz: 10px;


    //Colors variables

    $mainGray: #505050;
    $secondaryGray: #B8B8B8;
    $veryLightGray: #F3F3F3;
    $lightGray: #dadada;
    $white: #fff;
    $mainViolet: #8234ff;
    $lightViolet: #8C74FF;
    $veryLightViolet: #f6f4ff;
    $darkViolet: #180034;
    $red: #ff2732;
    $darkerRed: #dd151f;
    $lightRed: #ff616e;

    //Media breakpoints variables

    $xs: 392px;
    $sm: 576px;
    $md: 768px;
    $lg: 992px;
    $xl: 1280px;

    //Built-in styles


    * {
        font-size: $reg-fz;
        color: $mainGray;
    }

    body {
        background-color: $white;
    }

    button {
        border: none;
        outline: none;
        cursor: pointer;
        background: none;
        padding: 0;
        margin: 0;
        font-size: $reg-fz;
    }

    input,
    textarea {
        padding: 0;
        margin: 0;
        min-height: 30px;
        border: none;
        outline: none;
        color: $mainGray;
        font-size: $reg-fz;
    }

    h1 {
        font-size: $h1-fz;
        font-weight: 700;
    }

    h2 {
        font-size: $h2-fz;
        font-weight: 600;
    }

    h3 {
        font-size: $h2-fz;
        font-weight: 600;
    }

    //Common style classes

    .container {
        box-sizing: border-box;
        padding: 0 20px;
        max-width: 1280px;
        margin: 0 auto;
    }

    .wrapper {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: calc(100% + 150px);
    }

    .button-base {
        height: 50px;
        border-radius: 5px;
        background-color: $white;
        font-weight: 500;
        padding: 10px;
    }

    .button-white-tp {
        @extend .button-base;
        background-color: rgba($white, 0.3);
        color: $white;
        outline: solid 4px transparent;

        transition: .3s ease-in-out;

        &:hover {
            background-color: $white;
            color: $mainGray;
            outline: solid 4px rgba($white, 0.3);
        }

        &:focus {
            background-color: $white;
            color: $mainGray;
            outline: solid 4px rgba($white, 0.3);
        }
    }

    .button-violet {
        @extend .button-base;
        background-color: $lightViolet;
        color: $white;
        outline: solid 4px transparent;

        transition: .4s ease-in-out;

        &:hover {
            background-color: $mainViolet;
            outline: solid 4px rgba($lightViolet, 0.4);
        }

        &:focus {
            background-color: $mainViolet;
            outline: solid 4px rgba($lightViolet, 0.4);
        }
    }

    .button-violet-light {
        @extend .button-base;
        background-color: $veryLightViolet;
        color: $lightViolet;

        transition: .4s ease-in-out;

        &-selected {
            background-color: $lightViolet;
            color: $white;
            box-shadow: 0px 0px 20px 0px rgba($lightViolet, 0.5);
        }

        &:hover {
            @extend .button-violet-light-selected;
        }
    }

    .button-danger {
        @extend .button-base;
        background-color: $lightRed;
        color: $white;
        outline: solid 4px transparent;

        transition: .4s ease-in-out;

        &:hover {
            background-color: $red;
            outline: solid 4px rgba($lightRed, 0.4);
        }

        &:focus {
            background-color: $red;
            outline: solid 4px rgba($lightRed, 0.4);
        }
    }

    .button-gray {
        @extend .button-base;
        background-color: $veryLightGray;
        color: $mainGray;
        outline: solid 4px transparent;

        transition: .4s ease-in-out;

        &:hover {
            background-color: $lightGray;
        }

        &:focus {
            background-color: $lightGray;
        }
    }

    .inputs-base {
        border-radius: 5px;
        background: $veryLightGray;
        padding: 10px;
        min-height: 50px;
    }

    .input-transparent {
        @extend .inputs-base;
        background-color: transparent;
    }

    .input-gray {
        @extend .inputs-base;
    }

    .input-danger {
        @extend.inputs-base;
        $ml: 3px;
        background-color: $white;
        color: $red;
        border: solid 2px $red;

        animation: shake .2s;

        &::placeholder {
            color: $red;
        }

        @keyframes shake {
            0% {
                transform: translateX($ml);
            }

            25% {
                transform: translateX($ml * (-1));
            }

            50% {
                transform: translateX($ml);
            }

            100% {
                transform: translateX($ml * (-1));
            }
        }

    }

    .ui-text {
        color: $mainGray;
        line-height: 1.5;
        font-size: $reg-fz;
        font-weight: 400;
    }

    .text-danger {
        @extend .ui-text;
        color: $red;
    }

    .linked-text {
        color: $mainViolet;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .required {
        color: $red;

        &:before {
            content: '* '
        }
    }



    //General styles

    .header {
        background: $mainViolet;
        box-sizing: border-box;
        height: 120px;
        transition: .3s ease-in-out;

        &__container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__buttons {
            display: flex;
            gap: 20px;

            button {
                padding: 0 10px;
            }
        }

        .dropdown__head {
            height: 50px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            transition: .3s ease-in-out;

            .dropdown__profile-image {
                min-width: 40px;
                min-height: 40px;

                width: 40px;
                height: 40px;
            }

            &,
            &>* {
                color: $white;
            }

            &:hover {
                background: rgba($white, 0.2);
            }
        }

        @media screen and (max-width: $xs) {
            .dropdown {
                &__head {
                    box-sizing: content-box;
                    padding: 15px;
                }

                &__items {
                    position: static;
                    width: 100%;
                }
            }
        }

        @media screen and (max-width: $xs) {
            height: max-content;

            &__nav {
                width: 100%;
            }

            &__container {
                flex-direction: column;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &__logo {
                margin-bottom: 40px;
            }

            &__buttons {
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    .logo-pic {
        display: flex;
        align-items: center;
        gap: 20px;

        cursor: pointer;
        user-select: none;

        &__img {
            $staticWidth: 60px;

            min-width: $staticWidth;
            min-height: $staticWidth;

            width: $staticWidth;
            height: $staticWidth;
        }

        &__title {
            color: white;
        }

        @media (max-width: $sm) {
            &__title {
                display: none;
            }
        }
    }

    .dropdown {
        $radius: 5px;
        user-select: none;

        cursor: pointer;
        position: relative;

        &__items {
            position: absolute;
            top: calc(100% + 20px);
            right: 0;
            width: max-content;
            border-radius: $radius;
            background-color: $white;
            box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.21);

            >*:first-child {
                border-top-left-radius: $radius;
                border-top-right-radius: $radius;
            }

            >*:last-child {
                border-bottom-left-radius: $radius;
                border-bottom-right-radius: $radius;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            padding: 10px 18px;

            .icon {
                margin-right: 20px;
                font-size: calc(1em + 4px);
            }

            &:hover {
                background: $veryLightGray;
            }

            @media screen and (max-width: $sm) {
                padding: 16px 24px;

            }
        }
    }

    .main {
        width: 100%;

        >* {
            margin-bottom: 40px;
        }
    }

    .common-page-wrapper {
        >*:first-child {
            margin-top: 40px;
        }

        >* {
            margin-bottom: 40px;
        }
    }

    .search-form {
        display: flex;
        gap: 0;
        width: 100%;

        &__input {
            @extend .inputs-base;
            height: 50px;
            width: 100%;
            padding: 0 10px !important;
            font-weight: 500;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            text-overflow: ellipsis;

            &::placeholder {
                color: $secondaryGray;
            }
        }

        &__button {
            height: 50px;
            width: 80px;
            font-size: 24px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .pagination-form {
        display: flex;
        align-items: center;
        gap: 20px;

        &__pages-view {
            display: flex;
            align-items: center;
        }

        &__button {
            height: 50px;
            width: 50px;
            font-size: 24px;

            &-selected {
                border: solid 3px $lightViolet;
            }
        }

        @media screen and (max-width: $sm) {
            gap: 10px;
        }

        @media screen and (max-width: $xs) {
            gap: 8px;

            &__button {
                height: 45px;
                width: 45px;
                font-size: 22px;
                border-width: 2px;
            }
        }
    }

    .courses {
        >*:not(:last-child) {
            margin-bottom: 20px;
        }

        &__controls {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        &__add-button {
            font-size: 24px;
            width: 50px;
            height: 50px;
        }


    }

    .course-item {
        min-height: 150px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border: solid 2px $veryLightGray;
        border-radius: 5px;
        transition: .3s ease-in-out;

        cursor: pointer;

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 10px;
        }

        &__head {
            padding-bottom: 12px;

            >*:not(:last-child) {
                margin-bottom: 4px;
            }
        }

        &__title {
            font-size: $medium-fz;
            font-weight: 500;
        }

        &__categories {
            font-weight: 500;
            line-height: 1.5;
            text-wrap: balance;

            >* {
                display: inline;
                font-size: $small-fz;
            }
        }

        &__additional {
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 500;
        }

        &__properties {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-wrap: wrap;
        }

        &__icon {
            font-size: 24px;
        }

        * {
            transition: inherit;
        }

        &:hover {
            // border: solid 2px $lightViolet;
            // background-color: $veryLightViolet;

            .course-item__title {
                color: $lightViolet;
            }
        }

        @media screen and (max-width: $sm) {
            &__head {
                padding-bottom: 20px;

                >:first-child {
                    margin-bottom: 20px;
                }
            }

            &__categories {
                >* {
                    display: block;
                }
            }
        }
    }

    .auth-page {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;

        &__base-form {
            width: 100%;
        }
    }

    .base-form {
        max-width: 600px;
        padding: 40px 80px;
        border: solid 2px $veryLightGray;
        border-radius: 5px;

        >*:not(:last-child) {
            margin-bottom: 100px;
        }

        &__title {
            text-align: center;
        }

        &__form-input {
            margin-bottom: 40px;

            .form-input__input {
                width: 100%;
            }
        }

        &__button {
            width: 100%;
            padding: 0 10px;
        }

        @media screen and (max-width: $sm) {
            padding: 40px;
        }
    }

    .form-input {
        >*:not(:last-child) {
            margin-bottom: 20px;
        }

        &__error {
            line-height: 1.5;
            text-wrap: balance;
        }
    }

    .image-uploader {
        width: min-content;

        &__label {
            cursor: pointer;
        }

        &__input {
            display: none;
        }

        .image-reuploadable {
            position: relative;
            width: min-content;

            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                font-size: 20px;
                background-color: $veryLightGray;
                color: $secondaryGray;
            }
        }
    }

    .account-page {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 100px;

        >* {
            margin-top: 40px;
        }

        &__nav {
            min-width: 300px;
        }


        &__content {

            >*:first-child {
                margin-bottom: 40px;
            }

            .base-form {
                max-width: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: none;
                border-radius: none;

                .profile-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    grid-area: profile;
                }

                >* {
                    max-width: 400px;
                    width: 100%;
                }
            }

            .account-change-form {
                display: grid;
                grid-template-areas:
                    "profile inputs"
                    "profile nav";
                align-items: center;
                column-gap: 20px;

                &__inputs {
                    grid-area: inputs;
                }

                &__nav {
                    grid-area: nav;

                }
            }

        }

        .account-remove-form {
            >*:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        @media screen and (max-width: $lg) {
            .account-change-form {
                display: flex;
                flex-direction: column;

            }
        }

        @media screen and (max-width: $md) {
            grid-template-columns: auto;
            grid-template-rows: auto 1fr;

            &__nav {
                min-width: auto;
            }
        }
    }

    .side-nav {
        user-select: none;

        .nav-link {
            display: flex;
            align-items: center;
            gap: 20px;
            height: 50px;
            padding: 5px 20px;
            font-weight: 500;
            border-radius: 5px;
            color: $mainGray;
            transition: .3s ease-in-out;
            cursor: pointer;

            * {
                color: inherit;
            }

            &__icon {
                font-size: 20px;
            }

            &-selected {
                background-color: $lightViolet;
                color: $white;
                box-shadow: 0px 0px 20px 0px rgba($lightViolet, 0.5);
            }

            &:hover:not(&-selected) {
                color: $lightViolet;
            }
        }

        >* {
            width: 100%;
        }

        >*:not(:last-child) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: $sm) {}
    }

    .profile-card {
        text-align: center;
        font-weight: 500;

        &__title {
            font-size: $h3-fz;
        }

        &__subtitle {
            font-size: $reg-fz;
            color: $lightViolet;
        }

        >*:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .selection-panel {
        display: flex;
        font-weight: 500;
        z-index: 0;

        @media screen and (max-width: $xs) {
            flex-direction: column;
            gap: 20px;
        }
    }

    .selection-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 0 20px;
        position: relative;
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            color: $lightViolet;
        }

        &-active {
            background-color: $veryLightViolet;
            color: $lightViolet;
            border-bottom: solid 3px $lightViolet;

            // &::after {
            //     $lh: 3px;
            //     content: "";
            //     position: absolute;
            //     height: $lh;
            //     width: 100%;
            //     background-color: $lightViolet;
            //     bottom: $lh;
            //     left: 0;
            // }
        }

        @media screen and (max-width: $xs) {
            &-active {
                border-bottom: none;
            }
        }
    }

    //Footer styles

    .footer {
        width: 100%;
        min-height: 160px;
        background-color: $darkViolet;
        padding: 20px;

        &__content {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >* {
                color: $white;
            }
        }

        &__title {
            font-size: $h1-fz;
            font-weight: 600;
        }

        &__text {
            font-size: $reg-fz;
            line-height: 1.5;
            text-align: right;
        }

        @media screen and (max-width: $sm) {
            &__content {
                flex-direction: column;
                justify-content: center;
                gap: 20px;
            }

            &__title {
                font-size: $h2-fz;
            }

            &__text {
                text-align: center;
                font-size: $small-fz;
            }
        }
    }