    @import "reset.scss";
    @import "fontimports.scss";
    @import "icons.scss";

    //Font size variables

    $h1-fz: 42px;
    $h2-fz: 26px;
    $h3-fz: 20px;
    $big-fz: 32px;
    $medium-fz: 22px;
    $inputs-fz: 20px;
    $reg-fz: 16px;
    $small-fz: 12px;
    $tiny-fz: 10px;


    //Colors variables

    $mainGray: #505050;
    $secondaryGray: #B8B8B8;
    $veryLightGray: #F3F3F3;
    $white: #fff;
    $mainViolet: #8234ff;
    $lightViolet: #8C74FF;
    $veryLightViolet: #f6f4ff;
    $darkViolet: #180034;

    //Media breakpoints variables

    $xs: 392px;
    $sm: 576px;
    $md: 768px;
    $lg: 992px;
    $xl: 1280px;

    //Built-in styles


    * {
        font-size: $reg-fz;
        color: $mainGray;
    }

    body {
        background-color: $white;
    }

    button {
        border: none;
        outline: none;
        cursor: pointer;
        background: none;
        padding: 0;
        margin: 0;
        font-size: $reg-fz;
    }

    input,
    textarea {
        padding: 0;
        margin: 0;
        min-height: 30px;
        border: none;
        outline: none;
        color: $mainGray;
        font-size: $reg-fz;
    }

    h1 {
        font-size: $h1-fz;
        font-weight: 700;
    }

    h2 {
        font-size: $h2-fz;
        font-weight: 600;
    }

    h3 {
        font-size: $h2-fz;
        font-weight: 600;
    }

    //Common style classes

    .container {
        box-sizing: border-box;
        padding: 0 20px;
        max-width: 1280px;
        margin: 0 auto;
    }

    .wrapper {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: calc(100% + 150px);
    }

    .button-base {
        height: 50px;
        border-radius: 5px;
        background-color: $white;
        font-weight: 500;
    }

    .button-white-tp {
        @extend .button-base;
        background-color: rgba($white, 0.3);
        color: $white;

        transition: .3s ease-in-out;

        &:hover {
            background-color: $white;
            color: $mainGray;
        }
    }

    .button-violet-light {
        @extend .button-base;
        background-color: $veryLightViolet;
        color: $lightViolet;

        transition: .4s ease-in-out;

        &-selected {
            background-color: $lightViolet;
            color: $white;
            box-shadow: 0px 0px 20px 0px rgba($lightViolet, 0.5);
        }

        &:hover {
            @extend .button-violet-light-selected;
        }
    }

    .inputs-base {
        border-radius: 5px;
        background: $veryLightGray;
        padding: 10px;
    }

    .input-transparent {
        @extend .inputs-base;
        background-color: transparent;
    }

    .linked-text {
        color: $mainViolet;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }



    //General styles

    .header {
        background: $mainViolet;
        box-sizing: border-box;
        height: 120px;
        transition: .3s ease-in-out;

        &__container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__buttons {
            display: flex;
            gap: 20px;

            button {
                padding: 0 10px;
            }
        }

        .dropdown__head {
            height: 50px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            transition: .3s ease-in-out;

            .dropdown__profile-image {
                min-width: 40px;
                min-height: 40px;

                width: 40px;
                height: 40px;
            }

            &,
            &>* {
                color: $white;
            }

            &:hover {
                background: rgba($white, 0.2);
            }
        }

        @media screen and (max-width: $xs) {
            .dropdown {
                &__head {
                    box-sizing: content-box;
                    padding: 15px;
                }

                &__items {
                    position: static;
                    width: 100%;
                }
            }
        }

        @media screen and (max-width: $xs) {
            height: max-content;

            &__nav {
                width: 100%;
            }

            &__container {
                flex-direction: column;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &__logo {
                margin-bottom: 40px;
            }

            &__buttons {
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    .logo-pic {
        display: flex;
        align-items: center;
        gap: 20px;

        cursor: pointer;
        user-select: none;

        &__img {
            $staticWidth: 60px;

            min-width: $staticWidth;
            min-height: $staticWidth;

            width: $staticWidth;
            height: $staticWidth;
        }

        &__title {
            color: white;
        }

        @media (max-width: $sm) {
            &__title {
                display: none;
            }
        }
    }

    .dropdown {
        $radius: 5px;
        user-select: none;

        cursor: pointer;
        position: relative;

        &__items {
            position: absolute;
            top: calc(100% + 20px);
            right: 0;
            width: max-content;
            border-radius: $radius;
            background-color: $white;
            box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.21);

            >*:first-child {
                border-top-left-radius: $radius;
                border-top-right-radius: $radius;
            }

            >*:last-child {
                border-bottom-left-radius: $radius;
                border-bottom-right-radius: $radius;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            padding: 10px 18px;

            .icon {
                margin-right: 20px;
                font-size: calc(1em + 4px);
            }

            &:hover {
                background: $veryLightGray;
            }

            @media screen and (max-width: $sm) {
                padding: 16px 24px;

            }
        }
    }

    .main {
        width: 100%;
    }

    .public-page {
        .main__title {
            margin-top: 40px;
        }

        >* {
            margin-bottom: 40px;
        }
    }

    .search-form {
        width: 100%;

        &__input {
            @extend .inputs-base;
            height: 50px;
            width: 100%;
            padding: 0 10px !important;
            font-weight: 500;
            text-overflow: ellipsis;

            &::placeholder {
                color: $secondaryGray;
            }

        }
    }

    .pagination-form {
        display: flex;
        align-items: center;
        gap: 20px;

        &__pages-view {
            display: flex;
            align-items: center;
        }

        &__button {
            height: 50px;
            width: 50px;
            font-size: 24px;

            &-selected {
                border: solid 3px $lightViolet;
            }
        }

        @media screen and (max-width: $sm) {
            gap: 10px;
        }

        @media screen and (max-width: $xs) {
            gap: 8px;

            &__button {
                height: 45px;
                width: 45px;
                font-size: 22px;
                border-width: 2px;
            }
        }
    }

    .courses {
        >*:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .course-item {
        min-height: 150px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border: solid 2px $veryLightGray;
        border-radius: 5px;
        transition: .3s ease-in-out;

        cursor: pointer;

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 10px;
        }

        &__head {
            padding-bottom: 12px;

            >*:not(:last-child) {
                margin-bottom: 4px;
            }
        }

        &__title {
            font-size: $medium-fz;
            font-weight: 500;
        }

        &__categories {
            font-weight: 500;
            line-height: 1.5;
            text-wrap: balance;

            >* {
                display: inline;
                font-size: $small-fz;
            }
        }

        &__additional {
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 500;
        }

        &__properties {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-wrap: wrap;
        }

        &__icon {
            font-size: 24px;
        }

        * {
            transition: inherit;
        }

        &:hover {
            border: solid 2px $lightViolet;
            background-color: $veryLightViolet;
            box-shadow: 0px 0px 26px 0px rgba($lightViolet, 0.2);

            * {
                color: $lightViolet;
            }
        }

        @media screen and (max-width: $sm) {
            &__head {
                padding-bottom: 20px;

                >:first-child {
                    margin-bottom: 20px;
                }
            }

            &__categories {
                >* {
                    display: block;
                }
            }
        }
    }





    //Footer styles

    .footer {
        width: 100%;
        min-height: 160px;
        background-color: $darkViolet;
        padding: 20px;

        &__content {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >* {
                color: $white;
            }
        }

        &__title {
            font-size: $h1-fz;
            font-weight: 600;
        }

        &__text {
            font-size: $reg-fz;
            line-height: 1.5;
            text-align: right;
        }

        @media screen and (max-width: $sm) {
            &__content {
                flex-direction: column;
                justify-content: center;
                gap: 20px;
            }

            &__title {
                font-size: $h2-fz;
            }

            &__text {
                text-align: center;
                font-size: $small-fz;
            }
        }

    }