    @import "reset.scss";
    @import "fontimports.scss";
    @import "icons.scss";
    @import "variables.scss";
    @import "helpers.scss";
    @import "mixins.scss";


    //General styles

    .header {
        background: $mainViolet;
        box-sizing: border-box;
        height: 120px;
        transition: .3s ease-in-out;

        &__container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__buttons {
            display: flex;
            gap: 20px;

            button {
                padding: 0 10px;
            }
        }

        .dropdown__head {
            height: 50px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            transition: .3s ease-in-out;

            .dropdown__profile-image {
                min-width: 40px;
                min-height: 40px;

                width: 40px;
                height: 40px;
            }

            &,
            &>* {
                color: $white;
            }

            &:hover {
                background: rgba($white, 0.2);
            }
        }

        @media screen and (max-width: $xs) {
            .dropdown {
                &__head {
                    box-sizing: content-box;
                    padding: 15px;
                }

                &__items {
                    position: static;
                    width: 100%;
                }
            }
        }

        @media screen and (max-width: $xs) {
            height: max-content;

            &__nav {
                width: 100%;
            }

            &__container {
                flex-direction: column;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &__logo {
                margin-bottom: 40px;
            }

            &__buttons {
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    .logo-pic {
        display: flex;
        align-items: center;
        gap: 20px;

        cursor: pointer;
        user-select: none;

        &__img {
            $staticWidth: 60px;

            min-width: $staticWidth;
            min-height: $staticWidth;

            width: $staticWidth;
            height: $staticWidth;
        }

        &__title {
            color: white;
        }

        @media (max-width: $sm) {
            &__title {
                display: none;
            }
        }
    }

    .dropdown {
        $radius: 5px;
        user-select: none;

        cursor: pointer;
        position: relative;

        &__items {
            position: absolute;
            z-index: 3;
            top: calc(100% + 20px);
            right: 0;
            width: max-content;
            border-radius: $radius;
            background-color: $white;
            box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.21);

            >*:first-child {
                border-top-left-radius: $radius;
                border-top-right-radius: $radius;
            }

            >*:last-child {
                border-bottom-left-radius: $radius;
                border-bottom-right-radius: $radius;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            padding: 10px 18px;

            .icon {
                margin-right: 20px;
                font-size: calc(1em + 4px);
            }

            &:hover {
                background: $veryLightGray;
            }

            @media screen and (max-width: $sm) {
                padding: 16px 24px;

            }
        }
    }

    .ellipsis-button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 24px;
        background-color: $veryLightGray;
        transition: .3s ease-in-out;

        &:hover {
            background-color: $lightGray;
        }

    }

    .main {
        width: 100%;

        >* {
            margin-bottom: 40px;
        }
    }

    .common-page-wrapper {
        >*:first-child {
            margin-top: 40px;
        }

        >* {
            margin-bottom: 40px;
        }
    }

    .search-form {
        display: flex;
        gap: 0;
        width: 100%;

        &__input {
            @extend .inputs-base;
            height: 50px;
            width: 100%;
            padding: 0 10px !important;
            font-weight: 500;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &::placeholder {
                color: $secondaryGray;
            }
        }

        &__button {
            height: 50px;
            width: 80px;
            font-size: 24px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .pagination-form {
        display: flex;
        align-items: center;
        gap: 20px;

        &__pages-view {
            display: flex;
            align-items: center;
        }

        &__button {
            height: 50px;
            width: 50px;
            font-size: 24px;

            &-selected {
                border: solid 3px $lightViolet;
            }
        }

        @media screen and (max-width: $sm) {
            gap: 10px;
        }

        @media screen and (max-width: $xs) {
            gap: 8px;

            &__button {
                height: 45px;
                width: 45px;
                font-size: 22px;
                border-width: 2px;
            }
        }
    }

    .control-list {
        >*:not(:last-child) {
            margin-bottom: 20px;
        }

        &__controls {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        &__add-button {
            font-size: 24px;
            width: 50px;
            height: 50px;
        }


    }

    .course-item {
        min-height: 150px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border: solid 2px $veryLightGray;
        border-radius: 5px;
        transition: .3s ease-in-out;

        cursor: pointer;

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 10px;
        }

        &__head {
            padding-bottom: 12px;

            >*:not(:last-child) {
                margin-bottom: 4px;
            }
        }

        &__title {
            font-size: $h3-fz;
            font-weight: 500;
        }

        &__categories {
            font-weight: 500;
            line-height: 1.5;
            text-wrap: balance;

            >* {
                display: inline;
                font-size: $small-fz;
            }
        }

        &__additional {
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 500;
        }

        &__properties {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-wrap: wrap;
        }

        &__icon {
            font-size: 24px;
        }

        * {
            transition: inherit;
        }

        &:hover {
            // border: solid 2px $lightViolet;
            // background-color: $veryLightViolet;

            .course-item__title {
                color: $lightViolet;
            }
        }

        @media screen and (max-width: $sm) {
            &__head {
                padding-bottom: 20px;

                >:first-child {
                    margin-bottom: 20px;
                }
            }

            &__categories {
                >* {
                    display: block;
                }
            }
        }
    }

    .auth-page {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;

        &__base-form {
            width: 100%;
        }
    }

    .base-form {
        max-width: 600px;
        padding: 40px 80px;
        border: solid 2px $veryLightGray;
        border-radius: 5px;

        >*:not(:last-child) {
            margin-bottom: 100px;
        }

        &__title {
            text-align: center;
        }

        &__form-input {
            margin-bottom: 40px;

            .form-input__input {
                width: 100%;
            }
        }

        &__button {
            width: 100%;
            padding: 0 10px;
        }

        @media screen and (max-width: $sm) {
            padding: 40px;
        }
    }

    .form-input {
        >*:not(:last-child) {
            margin-bottom: 20px;
        }

        &__error {
            line-height: 1.5;
            text-wrap: balance;
        }
    }

    .image-uploader {
        width: min-content;

        &__label {
            cursor: pointer;
        }

        &__input {
            display: none;
        }

        .image-reuploadable {
            position: relative;
            width: min-content;

            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                font-size: 20px;
                background-color: $veryLightGray;
                color: $secondaryGray;
            }
        }
    }

    .account-page {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 100px;

        >* {
            margin-top: 40px;
        }

        &__nav {
            min-width: 300px;
        }


        &__content {

            >*:first-child {
                margin-bottom: 40px;
            }

            .base-form {
                max-width: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: none;
                border-radius: none;

                .profile-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    grid-area: profile;

                    &__subtitle {
                        font-weight: 500;
                    }
                }

                >* {
                    max-width: 400px;
                    width: 100%;
                }
            }

            .account-change-form {
                display: grid;
                grid-template-areas:
                    "profile inputs"
                    "profile nav";
                align-items: center;
                column-gap: 20px;

                &__inputs {
                    grid-area: inputs;
                }

                &__nav {
                    grid-area: nav;

                }
            }

        }

        .account-remove-form {
            >*:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        @media screen and (max-width: $lg) {
            .account-change-form {
                display: flex;
                flex-direction: column;

            }
        }

        @media screen and (max-width: $md) {
            grid-template-columns: auto;
            grid-template-rows: auto 1fr;

            &__nav {
                min-width: auto;
            }
        }
    }

    .side-nav {
        user-select: none;

        .nav-link {
            display: flex;
            align-items: center;
            gap: 20px;
            height: 50px;
            padding: 5px 20px;
            font-weight: 500;
            border-radius: 5px;
            color: $mainGray;
            transition: .3s ease-in-out;
            cursor: pointer;

            * {
                color: inherit;
            }

            &__icon {
                font-size: 20px;
            }

            &-selected {
                background-color: $lightViolet;
                color: $white;
                box-shadow: 0px 0px 20px 0px rgba($lightViolet, 0.5);
            }

            &:hover:not(&-selected) {
                color: $lightViolet;
            }
        }

        >* {
            width: 100%;
        }

        >*:not(:last-child) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: $sm) {}
    }

    .profile-card {
        &__title {
            font-size: $h3-fz;
            font-weight: 500;
        }

        &__subtitle {
            font-size: $reg-fz;
        }

        >*:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .selection-panel {
        display: flex;
        font-weight: 500;
        z-index: 0;

        @media screen and (max-width: $xs) {
            flex-direction: column;
            gap: 20px;
        }
    }

    .selection-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 0 20px;
        position: relative;
        cursor: pointer;
        border-bottom: solid 3px transparent;
        transition: .3s ease-in-out;

        &:hover {
            color: $lightViolet;
        }

        &-selected {
            background-color: $veryLightViolet;
            color: $lightViolet;
            border-bottom: solid 3px $lightViolet;
        }

        @media screen and (max-width: $xs) {
            &-active {
                border-bottom: none;
            }
        }
    }


    .course-page {

        &__header {
            display: flex;
            justify-content: space-between;
        }
    }

    .content-side {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 40px;

        &__main {
            padding-right: 60px;
            border-right: solid 2px $veryLightGray;
        }

        @media screen and (max-width: $md) {
            grid-template-columns: none;
            grid-template-rows: auto 1fr;
            row-gap: 40px;

            &__main {
                padding-right: 0;
                border-right: none;
                padding-bottom: 40px;
                border-bottom: solid 2px $veryLightGray;
            }
        }
    }

    .content-list {

        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            margin-bottom: 40px;
        }

        &__add-button {
            width: 50px;
            height: 50px;
        }

        &__items {
            >*:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &__item {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            align-items: center;

            .item-link {
                width: 100%;
            }
        }
    }

    .item-link {
        height: 50px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;

        &__info {
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: 500;
        }
    }

    .link-light-violet {
        color: $lightViolet;
        transition: .3s ease-in-out;

        * {
            color: inherit;
        }

        &:hover {
            background-color: $veryLightViolet;
        }
    }

    .enter-module-form {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;
        padding: 20px;

        &__input {
            width: 100%;
            max-width: 400px;
        }

        &__buttons {
            display: flex;

            @include child-not-last {
                margin-right: 10px;
            }
        }


        &__button {
            padding: 0;
            min-width: 40px;
            width: 40px;
            height: 40px;
            font-size: 20px;
        }
    }

    .content-about {

        @include child-not-last {
            margin-bottom: 40px;
        }

        &__button {
            width: 100%;
        }

        &__list {

            @include child-not-last {
                margin-bottom: 20px;
            }

            .text-violet {
                font-weight: 500;
            }

            .progress-bar {
                width: 100%;
            }
        }
    }

    .progress-bar {
        position: relative;
        min-width: 200px;
        height: 20px;
        background-color: $veryLightGray;
        border-radius: 10px;

        &__progress {
            position: absolute;
            height: inherit;
            border-radius: inherit;
            background-color: $lightViolet;
        }
    }

    .checkbox {
        $width: 30px;
        min-width: $width;
        min-height: $width;
        width: $width;
        height: $width;
        border: solid 2px $lightViolet;
        border-radius: 50%;
        position: relative;
        outline: 3px solid transparent;


        cursor: pointer;
        transition: .3s ease-in-out;

        &__check {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: inherit;
            color: transparent;
        }

        &-checked {
            background-color: $lightViolet;

            >* {
                color: $white;
            }
        }

        &:hover:not(&-checked) {
            outline: 3px solid rgba($lightViolet, 0.2);

            >* {
                color: $lightViolet;
            }
        }

        &:focus:not(&-checked) {
            outline: 3px solid rgba($lightViolet, 0.2);

            >* {
                color: $lightViolet;
            }
        }
    }

    .user-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid 2px $veryLightGray;
        border-radius: 5px;
        padding: 40px 20px;

        &__profile {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        &__image {
            @include static-size(60px);
        }

        &__properties {
            display: flex;
            gap: 10px;
        }
    }

    //Footer styles

    .footer {
        width: 100%;
        min-height: 160px;
        background-color: $darkViolet;
        padding: 20px;

        &__content {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >* {
                color: $white;
            }
        }

        &__title {
            font-size: $h1-fz;
            font-weight: 600;
        }

        &__text {
            font-size: $reg-fz;
            line-height: 1.5;
            text-align: right;
        }

        @media screen and (max-width: $sm) {
            &__content {
                flex-direction: column;
                justify-content: center;
                gap: 20px;
            }

            &__title {
                font-size: $h2-fz;
            }

            &__text {
                text-align: center;
                font-size: $small-fz;
            }
        }
    }