@mixin child-not-last {
    >*:not(:last-child) {
        @content;
    }
}

@mixin static-width($width) {
    min-width: $width;
    width: $width;
}

@mixin static-size($size) {
    @include static-width($size);
    height: $size;
}