    //Font size variables

    $h1-fz: 42px;
    $h2-fz: 26px;
    $h3-fz: 22px;
    $big-fz: 32px;
    $inputs-fz: 20px;
    $reg-fz: 16px;
    $small-fz: 12px;
    $tiny-fz: 10px;


    //Colors variables

    $mainGray: #505050;
    $secondaryGray: #B8B8B8;
    $veryLightGray: #F3F3F3;
    $lightGray: #dfdfdf;
    $white: #fff;
    $mainViolet: #8234ff;
    $lightViolet: #8C74FF;
    $veryLightViolet: #f6f4ff;
    $darkViolet: #180034;
    $red: #ff2732;
    $darkerRed: #dd151f;
    $lightRed: #ff616e;
    $green: #2AC5AD;
    $lightGreen: #4cddc7;

    //Media breakpoints variables

    $xs: 392px;
    $sm: 576px;
    $md: 768px;
    $lg: 992px;
    $xl: 1280px;